---
title: articlename 
layout: 'base.njk'
---
{% include 'header.njk' %}
  <div class="container container-flex">
    <main role="main" class="full-article">
      <article class="article-featured">
        <h2 class="article-title">Finding simplicity in life</h2>
        <img
          src="/assets/blog/life.jpg"
          alt="simple white desk on a white wall with a plant on the far right side"
          class="article-image"
        />
        <p class="article-info">July 23, 2019</p>
        <p class="article-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quos earum at accusamus libero repudiandae sapiente, illo harum expedita asperiores ad! Dolorum voluptatem assumenda libero quasi, hic labore maxime consequuntur!
        </p>
        
     
      </article>
    </main>
  </div>
  
</html>
