<article class="article-recent">
      <div class="article-recent-main">
        <h2 class="article-title">{{ title }}</h2>
        <p class="article-body">
          {{ description }}
        </p>
        <a href="#" class="article-read-more">CONTINUE READING</a>
      </div>
      <div class="article-recent-secondary">
        <img
          src="{{ image }}"
          alt="{{ imageAlt }}"
          class="article-image"
        />
        <p class="article-info">{{ date }}/p>
      </div>
    </article>