---
title: articlename 
layout: 'base.njk'
---
{% include 'header.njk' %}
  <div class="container container-flex">
    <main role="main" class="full-article">
      <article class="article-featured">
        <h2 class="article-title">{{ post.data.title }}</h2>
        <img
            src="{{ post.data.image }}"
            alt="{{ post.data.imageAlt }}"
            class="article-image article-recent-image"
        />
        <p class="article-info">{{ post.data.date | postDate }}</p>
        <p class="article-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quos earum at accusamus libero repudiandae sapiente, illo harum expedita asperiores ad! Dolorum voluptatem assumenda libero quasi, hic labore maxime consequuntur!
        </p>
        
     
      </article>
    </main>
  </div>
  
</html>
