    <div class="sidebar-widget">
      <h2 class="widget-title">CONTACT</h2>
          <div class="widget-recent-post">
            <h3 class="widget-recent-post-title">Connect on LinkedIn</h3>

            <a href="https://www.linkedin.com/in/elizabethmccready/">
                <img src="/assets/blog/linkedin.svg" alt="LinkedIn icon" class="widget-icon blue icon"
                >
             </a>
          <div class="widget-recent-post">

             <h3 class="widget-recent-post-title">Email Me</h3>
            <a href="mailto:liz@gingerkiwi.dev"><img
                src="/assets/blog/envelope-solid.svg"
                alt="icon of an envelope"
                class="widget-icon"
              /></a>
          </div>
          {# <div class="widget-recent-post">
            <h3 class="widget-recent-post-title">Simple decorations</h3>
            <img
              src="/assets/blog/deco.jpg"
              alt="a green plant in a clear, round vase with water in it"
              class="widget-image"
            />
          </div> #}
    </div>