<div class="sidebar-widget">
    <h2 class="widget-title">LIZ McCREADY</h2>
    <img
    src="/assets/avatar.png"
    alt="a redhead woman with a ponytail behind a laptop computer"
    class="widget-image"
    />
    <p class="widget-body widget-underline widget-subheading">Experienced Technical Writer</p>
    <p class="widget-body widget-underline widget-subheading">SEO Web Content Writer</p>
    <p class="widget-body widget-underline widget-subheading">Accessibility Advocate</p>
    <p class="widget-body widget-underline widget-subheading">Web Developer</p>
    <p class="widget-body widget-underline widget-subheading">Passionate About Solving Puzzles with Others</p>
    <p class="widget-body widget-subheading">Seeking Challenging Projects With Awesome People</p>
          
</div>