<footer>
  <p class="footer-font"><strong>Ginger Kiwi</strong></p>
  <img
    src="/assets/avatar.png"
    alt="a redhead woman with a ponytail behind a laptop computer"
    class="logo-img"
  />
  <p class="footer-font">Copyright &copy;  Elizabeth McCready, 2023</p>
  {# <a href="/crafting-and-code" class="link-reverse-colour">Crafting & Code Meetups</a> #}
<nav class="a11y-webring-club" aria-labelledby="a11y-webring-club">
  <h2 id="a11y-webring-club">a11y-webring.club</h2>
  <p>This site is a member of the <a rel="external" class="footer-link" href="https://a11y-webring.club/">a11y-webring.club</a>.</p>
  <ul class="link-white-hover">
    <li><a rel="external" referrerpolicy="strict-origin" class="footer-link" href="https://a11y-webring.club/prev">Previous website</a></li>
    <li><a rel="external" referrerpolicy="strict-origin" class="footer-link" href="https://a11y-webring.club/random">Random website</a></li>
    <li><a rel="external" referrerpolicy="strict-origin" class="footer-link" href="https://a11y-webring.club/next">Next website</a></li>
  </ul>
</nav>
</footer>