<footer>
  <p><strong>Ginger Kiwi</strong></p>
  <img
    src="/assets/avatar.png"
    alt="a redhead woman with a ponytail behind a laptop computer"
    class="logo-img"
  />
  <p>Copyright Elizabeth McCready 2022</p>
  {# <a href="/crafting-and-code" class="link-reverse-colour">Crafting & Code Meetups</a> #}
</footer>