<footer>
  <p class="footer-font"><strong>Ginger Kiwi</strong></p>
  <img
    src="/assets/avatar.png"
    alt="a redhead woman with a ponytail behind a laptop computer"
    class="logo-img"
  />
  <p class="footer-font">Copyright &copy;  Elizabeth McCready, 2023</p>
  {# <a href="/crafting-and-code" class="link-reverse-colour">Crafting & Code Meetups</a> #}
</footer>