<header>
  <div class="container container-flex">
    <div class="site-title">
      <h1>Ginger Kiwi</h1>
      <p class="subtitle">Exploring technology, design, and accessibility</p>
    </div>
    <nav>
      <ul>
        <li><a class="current-page" href="index.html">Home</a></li>
        <li><a href="blog.html">Recent Articles</a></li>
        <li><a href="about.html">About me</a></li>
        <li><a href="article.html">Article</a></li>
      </ul>
    </nav>
  </div>
  <!-- / .container -->
</header>