<header>
  <div class="container container-flex">
    <div class="site-title">
      <h1 class="h1-brand">Ginger Kiwi</h1>
      <p class="subtitle">Exploring technology, design, and accessibility</p>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <!-- / .container -->
</header>
