<header>
  <div class="container container-flex">
    <div class="site-title">
      <h1>Ginger Kiwi</h1>
      <p class="subtitle">Exploring technology, design, and accessibility</p>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About me</a></li>
        <li><a href="/article">Article</a></li>
      </ul>
    </nav>
  </div>
  <!-- / .container -->
</header>
