--- 
title: About
layout: 'base.njk'
---
  <header>
  <div class="container container-flex">
    <div class="site-title">
      <h1 class="h1-brand">Ginger Kiwi</h1>
      <p class="subtitle">Exploring technology, design, and accessibility</p>
    </div>
    <nav>
      <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about" class="current-page">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <!-- / .container -->
</header>
  
  <div class="container container-flex">
    <main role="main">
        {# <img src="/assets/blog/2022-07-kitten-sleeping-paws-over-eyes.jpg" class="image-full"> #}
        <article>
        <h1>About</h1>

        <p><strong>Hello World! My name is Elizabeth McCready</strong>. I’m an experienced web content and technical writer, and former special educator. I found a new direction for my lifelong passions of accessibility, puzzle solving, and design in web development during 2020-2021 taking graduate computer science and information technology courses online at Massey U in New Zealand. Now as part of the Scrimba Frontend Developer Career Path, Hacktoberfest 2022 participant, and GitHub open source repo maintainer I'm furthering and solidifying my skills as a frontend developer - and meeting many awesome people on the way! </p>

        <h3>Experienced Technical Writer and Web Content Creator </h3>
        <p><strong>I have been a freelance writer, editor and researcher since I was in university.</strong>. Combined with my experience teaching, I'm able to quickly distill complex technical information to non-technical audiences. I love writing interesting blog posts and SEO web content that are useful to both clients and their customers. 
<h3>Former Adaptive Technology Specialist, Academic Coach, Special Education Consultant</h3>
<p>Also starting when I was still in university I spent 18 years self-employed in special education as an academic coach and special education tutor. I taught organizational and study skills along with subject specific skills (especially maths and sciences) to students with dyslexia, adhd, anxiety, depression, and learning disabilities. I acted as the go between for families, students and school staff by helping families navigate the paperwork and bureaucracy of special needs supports and regulations.</p>

<p>During the final seven years I expanded my skills into becoming an Adaptive Educational Technology Specialist. Technology is a game changer for many people with disabilities and neurodiversity. Customizing iPad, MacBook, and even mobile phones for students means they could focus on learning and not on trying to write or read. Yes, I taught writing and reading skills too - but when the goal is to learn chemistry for a course that can be met by listening as well as reading. Finding solutions for students with complex learning needs was a challenging puzzle. 
</p>
      </article>
    </main>
    
    {% include 'aside.njk' %}
    </div> {# /.container-flex #}
