--- 
title: About
layout: 'base.njk'
---
  <header>
  <div class="container container-flex">
    <div class="site-title">
      <h1>Ginger Kiwi</h1>
      <p class="subtitle">Exploring technology, design, and accessibility</p>
    </div>
    <nav>
      <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about" class="current-page">About</a></li>
        <li><a href="/article">Article</a></li>
      </ul>
    </nav>
  </div>
  <!-- / .container -->
</header>
  
  <div class="container container-flex">
    <main role="main">
        <img src="/assets/blog/2022-07-kitten-sleeping-paws-over-eyes.jpg" class="image-full">
        <h2>Hello World - About Me</h2>

        <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolor autem eum omnis sequi maxime, vel, magni veniam rerum eveniet sunt molestias illum dicta inventore. Iste obcaecati velit commodi error.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae enim doloribus odio dolorem dicta ab libero pariatur harum commodi et, quo, possimus culpa blanditiis, reprehenderit ea consequatur fugit adipisci ut.</p>

        <h3>Heading 3 </h3>
        <p><strong>I dicta ab libero pariatur harum commodi et</strong>. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, deserunt, doloribus amet beatae officiis sunt natus nobis, porro mollitia optio laudantium suscipit eius maiores consequatur delectus expedita. Cum, expedita accusantium.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur aliquam tempore ratione. Recusandae doloremque, perferendis impedit et corrupti saepe quos corporis error ex blanditiis aliquid, quas atque ipsa cupiditate eum.</p>
      
    </main>
    
    {% include 'aside.njk' %}
    </div> {# /.container-flex #}
