--- 
title: Blog
layout: 'base.njk'
---
<header>
  <div class="container container-flex">
    <div class="site-title">
      <h1>Ginger Kiwi</h1>
      <p class="subtitle">Exploring technology, design, and accessibility</p>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog" class="current-page">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <!-- / .container -->
</header>
  <div class="container container-flex">

    <main role="main">
      {# <article class="article-recent"> #}
        <h2>Recent Articles</h2>

          <ul role="list" class="articles__list flow"> 

            {%- for post in collections.post| reverse -%}

              {% include 'article-snippet.njk' %}
              
            {%- endfor %}

          </ul>  

  
      

    </main>
{% include 'aside.njk' %}
    
    
 </div> {# /.container-flex #}


