--- 
title: Blog
layout: 'base.njk'
---
<header>
  <div class="container container-flex">
    <div class="site-title">
      <h1>Ginger Kiwi</h1>
      <p class="subtitle">Exploring technology, design, and accessibility</p>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog" class="current-page">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/article">Article</a></li>
      </ul>
    </nav>
  </div>
  <!-- / .container -->
</header>
  <div class="container container-flex">

    <main role="main">
      {# <article class="article-recent"> #}
        <h2>Recent Articles</h2>

          <ul role="list" class="articles__list flow"> 

            {%- for post in collections.post -%}
              <li>

                <article class="article-recent">
                  <div class="article-recent-main">
                    <h2 class="article-title">{{ post.data.title }}</h2>
                      <p class="article-body article-recent-p">
                        {{ post.data.description }}
                      </p>
                      <a href="#" class="article-read-more">CONTINUE READING</a>
                  </div>
                  <div class="article-recent-secondary">
                    <img
                      src="{{ post.data.image }}"
                      alt="{{ post.data.imageAlt }}"
                      class="article-image article-recent-image"
                    />
                    <p class="article-info">{{ post.data.date | postDate }}</p>
                </div>
              </article>


              </li>
            {%- endfor %}

          </ul>  

  
      

    </main>
{% include 'aside.njk' %}
    
    
 </div> {# /.container-flex #}


