--- 
title: About
layout: 'base.njk'
---
  <header>
  <div class="container container-flex">
    <div class="site-title">
      <h1>Ginger Kiwi</h1>
      <p class="subtitle">Exploring technology, design, and accessibility</p>
    </div>
    <nav>
      <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about" >About</a></li>
        <li><a href="/contact" class="current-page">Contact</a></li>
      </ul>
    </nav>
  </div>
  <!-- / .container -->
</header>
  
  <div class="container container-flex">
    <main role="main">
        <img src="/assets/blog/solen-feyissa-vgNE0P7Pz9M-unsplash.jpg">
        <h2>Contact</h2>

        <p>Contact info</p>
      
    </main>
    
    {# {% include 'aside.njk' %} #}
    </div> {# /.container-flex #}
