--- 
title: About
layout: 'base.njk'
---
  <header>
  <div class="container container-flex">
    <div class="site-title">
      <h1 class="h1-brand">Ginger Kiwi</h1>
      <p class="subtitle">Exploring technology, design, and accessibility</p>
    </div>
    <nav>
      <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about" >About</a></li>
        <li><a href="/contact" class="current-page">Contact</a></li>
      </ul>
    </nav>
  </div>
  <!-- / .container -->
</header>
  
  <div class="container container-flex">
    <main role="main">
        {# <img src="/assets/blog/solen-feyissa-vgNE0P7Pz9M-unsplash.jpg"> #}
        <h1>Contact</h1>

       
          <h3>Find me online:</h3>
<ul class="list-bullets">
  <li><strong>LinkedIn:</strong><a href="https://www.linkedin.com/in/elizabethmccready"> https://www.linkedin.com/in/elizabethmccready</a></li>
  <li><strong>Github:</strong><a href="https://github.com/GingerKiwi">  https://github.com/GingerKiwi</a></li>
  <li><strong>Discord:</strong><a href="Liz_GingerKiwi.Dev#3643"> Liz_GingerKiwi.Dev#3643</a></li>
  <li><strong>Toronto JavaScript Slack:</strong> 'Liz GingerKiwi.Dev'</li>
  <li><strong>GingerKiwi.dev:</strong><a href=""> https://gingerkiwi.dev</a></li>
</ul>

        </p>
      
    </main>
    
    {# {% include 'aside.njk' %} #}
    </div> {# /.container-flex #}
