--- 
title: Home - Ginger Kiwi Blog
layout: 'base.njk'
---

<header>
  <div class="container container-flex">
    <div class="site-title">
      <h1 class="h1-brand">Ginger Kiwi</h1>
      <p class="subtitle">Exploring technology, design, and accessibility</p>
    </div>
    <nav>
      <ul>
        <li><a href="/" class="current-page">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <!-- / .container -->
</header>

<div class="container container-flex">
  <main role="main">
    <article class="article-featured">
      <h2 class="article-title">Happy Coding (With Cats)! </h2>
      <img
        src="/assets/blog/Boo-helping-me-code.webp"
        alt="Grey long haired cat peaking up over a laptop screen. The screen has a Git merging exercise on it and multiple tabs open. There's a set of white bookcases in the background. Some have solid doors, some have glass doors."
        class="article-image"
      />
      {# <p class="article-info">July 23, 2019</p> #}
      <p class="article-body">
        <strong> Welcome to the Ginger Kiwi Blog!</strong> This site is developed with 11ty/Eleventy, Nunjucks, markdown, Obsdian, and css with css variables for colours and fonts - and of course lots of "help" from Boo (my grey cat), as well as Maybel and Kitten. Scroll down to see some of my recent and featured articles, or go the the <a href="https://gingerkiwi.blog/blog/">blog page</a> to see all my  articles.</p>
      <h3>Updates for Fall 2023</h3>
      
      <strong> 
      <p class="article-body">It's past time for a redesign of the Ginger Kiwi blog. The new gingerkiwi.dev site combines this blog with over two years of writing, with a developer portfolio, while adding a ton of new features, and improving the accessibility. Read the update articles below to learn more.</p></strong>
      <p>Nov 13, 2023: Visit <a href="https://gingerkiwi-2024-02.fly.dev rel="noreferrer" rel=”noopener” target=”_blank">https://gingerkiwi-2024.fly.dev</a> to see the new combined, fullstack, Ginger Kiwi blog and dev portfolio being built in public on Fly.io using Astro, Docker, and SQLite3!</p>
      
    </article>
    <h2>Recent Articles</h2>
    {# ====================================== #}
    {# Recent Articles #}
    {# ====================================== #}
{# ====================================== #}
      <ul role="list" class="articles__list flow"> 
        {%- for post in collections.featured| reverse -%}
            {% include 'article-snippet.njk' %}
        {%- endfor %}
      </ul>

  </main>

  {% include 'aside.njk' %}

</div> {# /.container-flex #}


