--- 
title: Home - Ginger Kiwi Blog
layout: 'base.njk'
---

<header>
  <div class="container container-flex">
    <div class="site-title">
      <h1 class="h1-brand">Ginger Kiwi</h1>
      <p class="subtitle">Exploring technology, design, and accessibility</p>
    </div>
    <nav>
      <ul>
        <li><a href="/" class="current-page">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <!-- / .container -->
</header>

<div class="container container-flex">
  <main role="main">
    <article class="article-featured">
      <h2 class="article-title">Happy Coding (With Cats)! </h2>
      <img
        src="/assets/blog/Boo-helping-me-code.jpg"
        alt="Grey long haired cat peaking up over a laptop screen. The screen has a Git merging exercise on it and multiple tabs open. There's a set of white bookcases in the background. Some have solid doors, some have glass doors."
        class="article-image"
      />
      {# <p class="article-info">July 23, 2019</p> #}
      <p class="article-body">
        <strong>June 30, 2023: Welcome to the Ginger Kiwi Blog!</strong> This site is developed with 11ty/Eleventy, Nunjucks, markdown, Obsdian, and css with css variables for colours and fonts - and of course lots of "help" from Boo (my grey cat), as well as Maybel and Kitten.
      </p>
      <h3>Planned Updates for Summer 2023</h3>
      <p>It's almost time for yet another update to the Ginger Kiwi blog design. Right now I'm working on my dev portfolio site (<a href="http://gingerkiwi.dev target="_blank"">http://gingerkiwi.dev</a>),  <a href="https://yarnhelp3.netlify.app/ target="_blank"">Yarn Help! 3.0</a> , plus a bit of work every week on <a href="https://www.linkedin.com/company/alice-in-wonderland-project target="_blank"">The Alice in Wonderland Project</a>.</p>
      <p>Once GingerKiwi.dev is done, I'll alternate between Yarn Help! and redesigning the Ginger Kiwi blog with a bit of work every week on The Alice in Wonderland Project and my self-teaching include my IBM COLBOL course, and Scrimba.</p>
      <p>Version 3.0 of this blog will include:</p>
      <ul>
        <li>Dedicated pages for different topics with cards linking to each one on the home page.</li>
        <li>A drafts folder inside the repo using a "draft" tag. Then all I have to do to publish an article is remove the tag and move the markdown file from the /drafts to the /blog folder. I've been keeping the drafts in a separate Obsidian vault from the one for this repo.</li>
        <li>Dark and light theme toggle.</li>
        <li>Fixing the issue with the heading levels so article titles are h2 or h3 on the home page and h1 on the individual article pages.</li>
        <li>Updated design for the home page with more of a card format.</li>
        <li>Mobile first.</li>
        <li>Updated design for the article pages.</li>
        <li>Including "skip to main content" and "prefers reduced motion" functions.</li>
        <li>Possibly creating a custom Prism.js theme for both the site and the<a href="https://github.com/PrismJS/prism-themes target="_blank"">Prism.js Open Source project.</a></li>
      </ul>
      <p>Scroll down to see some of my recent and featured articles, or go the the <a href="https://gingerkiwi.blog/blog/">blog page</a> to see all my  articles.</p>
    </article>
{# ====================================== #}
      <ul role="list" class="articles__list flow"> 
        {%- for post in collections.featured| reverse -%}
            {% include 'article-snippet.njk' %}
        {%- endfor %}
      </ul>

  </main>

  {% include 'aside.njk' %}

</div> {# /.container-flex #}


