--- 
title: Home - Ginger Kiwi Blog
layout: 'base.njk'
---

<header>
  <div class="container container-flex">
    <div class="site-title">
      <h1 class="h1-brand">Ginger Kiwi</h1>
      <p class="subtitle">Exploring technology, design, and accessibility</p>
    </div>
    <nav>
      <ul>
        <li><a href="/" class="current-page">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <!-- / .container -->
</header>

<div class="container container-flex">
  <main role="main">
    <article class="article-featured">
      <h2 class="article-title">Happy Coding (With Cats)! </h2>
      <img
        src="/assets/blog/Boo-helping-me-code.jpg"
        alt="Grey long haired cat peaking up over a laptop screen. The screen has a Git merging exercise on it and multiple tabs open. There's a set of white bookcases in the background. Some have solid doors, some have glass doors."
        class="article-image"
      />
      {# <p class="article-info">July 23, 2019</p> #}
      <p class="article-body">
        <strong>Feb 23, 2023: Welcome to the Ginger Kiwi Blog!</strong> This site is developed with 11ty/Eleventy, Nunjucks, markdown, Obsdian, and css with css variables for colours and fonts - and of course lots of "help" from Boo (my grey cat), as well as Maybel and Kitten.
      </p>
      <h3>On the Ginger Kiwi Blog You'll Find: </h3>
      <ul>
        <li>Discussions and code for designing and developing with accessibility/#a11y in mind.</li>
        <li>Documentation of my second time doing #100DaysOfCode</li>
        <li>Cheatsheets for web development, technical writing, and ui/ux design</li>
        <li>Resources for new developers </li>
        <li>Design tips and tricks for developers.</li>
        <li>Resources for new developers</li>
        <li>SEO web content and technical writing tips, and examples</li>
        <li>Very geeky articles on knitting and other fibre arts</li>
      </ul>
      <p>Scroll down to see some of my recent and featured articles, or go the the <a href="https://gingerkiwi.blog/blog/">blog page</a> to see all my  articles.</p>
    </article>
{# ====================================== #}
      <ul role="list" class="articles__list flow"> 
        {%- for post in collections.featured| reverse -%}
            {% include 'article-snippet.njk' %}
        {%- endfor %}
      </ul>

  </main>

  {% include 'aside.njk' %}

</div> {# /.container-flex #}


